@page
@using ProjekatSWE.Pages
@model PratiociModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Pratioci";
}
@section Styles{
    <link rel="stylesheet" href="Styles/Style.css">
}
@section Scripts {
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script language="JavaScript" src="Scripts/Script.js" type="text/javascript" ></script>
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PRATIOCI | BUKŠELF</title>

    <!-- icon link -->
    <link rel="icon" href="favicon.ico"/>

    <!-- font awesome cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- custom css file link  -->
    <link rel="stylesheet" href="css/style.css">

</head>
<body>

    <!-- Header starting here! -->
<header>
    <h1 class="heading"><a href="BUKSELF.html"><img width="200" src="images/bukšelf_croppedLONG.png" alt=""></a></h1>
    
    <div id="menu" class="fas fa-bars"></div>

    <nav class="navbar">
        <ul>
            <li><a href="profil?username=@Model.Korisnik.Username">Moj profil</a></li>
            <li><a href="home?username=@Model.Korisnik.Username">Naslovna</a></li>
            <li><a href="feed?username=@Model.Korisnik.Username">NEWS</a></li>
            <li><a href="index?username=@Model.Korisnik.Username">Početna</a></li>
            <li><a href="about?username=@Model.Korisnik.Username">O nama!</a></li>
            <li><a href="uhome">Log out</a></li>
        </ul>
    </nav>
</header>
    <!-- Header ending here! -->

    <!-- mojeREC starting here! -->
    <section class="mojeRec">

        <form action="">

            <div class="profile-info">

                <div class="slika">
                    <a href="profile.html"><img src=@Model.Korisnik.KPhotoPath alt="prof_img1"></a>
                </div>
                <div class="ime_korisnicko-ime">
                    <a href="profile?@Model.Korisnik.Username"><h1>@Model.Korisnik.Ime @Model.Korisnik.Prezime</h1></a>
                    <a href="profile?@Model.Korisnik.Username"><h3>@Model.Korisnik.Username</h3></a>
                </div>
            </div>

            <div class="profile-infoISPOD">
                <div class="ime_korisnicko-ime">
                    <h1>PRATIM:</h1>
                </div>
            </div>

            <div class="content">

                <!-- BOX1 -->
                @{foreach (var v in Model.OmiljeniKorisnici)
                {
                <div class="review-boxBEDZ">
                    
                    <div class="review-box-topBEDZ">
    
                        <div class="info">
                            @{
                                string K = @Model.Korisnici.Find(u => u.Username == v.Uname2).KPhotoPath;
                                string I = @Model.Korisnici.Find(u => u.Username == v.Uname2).Ime;
                                string P = @Model.Korisnici.Find(u => u.Username == v.Uname2).Prezime;
                            }
                            <div class="profile-img">
                                <a href="user?username=@Model.Korisnik.Username&user=@v.Uname2"><img src=@K alt="prof_img1"></a>
                            </div>
                            <div class="name-user">
                                <a href="user?username=@Model.Korisnik.Username&user=@v.Uname2"><strong>@I @P</strong></a>
                                <a href="user?username=@Model.Korisnik.Username&user=@v.Uname2">@v.Uname2<span></span></a>
                            </div>
                        </div>

                    </div>
                
                </div>
                }
                }
            </div>
            

        </form>

    </section>
    <!-- mojeREC ending! -->

    <!-- Footer section starting here! -->

    <div class="footer">
        <div class="box-container">
            <div class="box">
                    <a href="about?username=@Model.Korisnik.Username" rel="">Saznaj ko smo mi!</a>
            </div>

            <div class="box">
                <h3>Prečice</h3>
                    <div class="box2">
                        <a href="home?username=@Model.Korisnik.Username" rel="">Naslovna</a>
                        <a href="about?username=@Model.Korisnik.Username" rel="">O nama!</a>
                        <a href="uhome" rel="">Log out</a>                       
                    </div>
            </div>
            
            <div class="box">


                   <div class="socials">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                    </div>
            </div>
        </div>

        <h1 class="credit"> created by <a href="#">TeamBLS</a> | all rights reserved. </h1>
    </div>

    <!-- Footer section ending here! -->

    <!-- jquery cdn link  -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <!-- custom js file link  -->
<script src="js/script.js"></script>

</body>
</html>